/* ROOT */
:root{
    --main-font-family: "Fraunces", "Times New Roman", serif;
    --desc-font-family: "Barlow", "Arial", sans-serif;
    --main-font-weight: 900;
    --main-desc-font-weight: 400;
    --main-nav-font-weight: 700;
    --main-body-bg-color: #fefcf7;
    --main-text-color: #fefcf7;
    --main-nav-text-color: #83888f;
    --main-desc-color: #333d4b;
    --main-bg-color:  #0e8784;
}


@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), 
    url("../fonts/barlow-v12-latin-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
    url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), 
    url("../fonts/barlow-v12-latin-700.woff") format("woff"); 
}

@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: 
    url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), 
    url("../fonts/fraunces-v23-latin-900.woff") format("woff"); 
}

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    background-color: var(--main-body-bg-color);
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


.site-header {
    position: relative;
    padding-top: 32px;
    padding-bottom: 40px;
}

.site-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* .logo {
} */

.logo__img{
    width: 163px;
    height: 18px;
}

.sitenav {
    position: absolute;
    top: 89px;
    left: 0;
    right: 0;
    display: none;
    height: 100vh;
    padding-top: 40px;
    background: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    
}
.sitenav-open .sitenav{
    display: block;
}


.sitenav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sitenav__item:not(:last-child){
    margin-bottom: 32px;
    
}

.sitenav__link {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    text-align: center;
    color: #333D4B;
    text-decoration: none;
    
}
.site-header__burger {
    width: 16px;
    height: 15px;
    background-color: transparent;
    background-image: url("../images/burger-img.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
.sitenav-open .site-header__burger{
    background-image: url("../images/reset.svg");
}
@media only screen and (min-width: 650px){
    .site-header{
        padding-top: 40px;
        padding-bottom: 53px;
    }
    .logo__img{
        width: 236px;   
        height: 26px;
    }
    
    .sitenav{
        position: static;
        display: block;
        flex-direction: row;
        padding: 0;
        height: auto;
    }
    .sitenav__list {
        flex-direction: row;
    }
    .sitenav__item:not(:last-child){
        margin-right: 32px;
        margin-bottom: 0;

    }
    .sitenav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #83888F;
    transition: color 0.3s ease;
    }
    
    .site-header__burger{
        display: none;
    }
    .sitenav__link:hover {
    color: #333d4b;
    opacity: 0.6;
}
}


.site-main{
    flex-grow: 1;
}

/* .hero-section {
} */

.hero-section__inner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 99px;
    background-image: url("../images/hero-home-bg-m.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.hero-section__textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 279px;
    width: 100%;
}

.hero-section__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--main-text-color);
    
}

.hero-section__descbox{
    width: 100%;
    margin-bottom: 39px;
}

.hero-section__desc {
    margin: 0;
    font-family: var(--desc-font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;  
    color: var(--main-text-color);
    mix-blend-mode: normal;
    opacity: 0.8;
}

.button-link {
    display: inline-block;
    max-width: 217px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.button-link:hover {
    background-color: #66d2cf;
}
.button-link:active {
    background-color: #e2dedb;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero-section__inner{
        background-image: url("../images/hero-home-bg-m@2x.png");
    }
}

@media only screen and (min-width:400px) {
    /* .hero-section{
    } */
    
    .hero-section__inner{
        justify-content: start; 
        padding-top: 104px;
        padding-bottom: 104px;
        padding-left: 58px;
        background-image: url("../images/hero-home-bg-t.png");
    }
    
    .hero-section__textbox{
        max-width: 398px;
        align-items: start;
    }
    
    .hero-section__text {
        font-size: 40px;
        line-height: 40px;
        text-align: start;
    }
    
    .hero-section__descbox{
        margin-bottom: 40px;
    }
    
    .hero-section__desc{
        text-align: start;
    }
    
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        .hero-section__inner{
            background-image: url("../images/hero-home-bg-t@2x.png");
        }
    }
}

@media only screen and (min-width:820px) {
    /* .hero-section{
    } */
    
    .hero-section__inner{
        padding-top: 117px;
        padding-bottom: 117px;
        padding-left: 58px;
        background-image: url("../images/hero-home-bg.png");
    }
    
    .hero-section__textbox{
        max-width: 493px;
        align-items: start;
    }
    
    .hero-section__text {
        font-size: 72px;
        line-height: 72px;
    }
    
    .hero-section__descbox{
        max-width: 444px;
        margin-bottom: 56px;
    }
    
    .hero-section__desc{
        font-size: 16px;
        line-height: 26px;
    }
    
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        .hero-section__inner{
            background-image: url("../images/hero-home-bg@2x.png");
        }
    }
}